
header {
  height: 244px;
}

.logo-block {
  position: absolute;
  top:0;
  left:0;
  background: white;
  height: 165px;
  width: 350px;
  /* border-right: 1px solid gray; */
  /* border-bottom: 1px solid gray; */
  -webkit-border-bottom-right-radius: 50px;
  -moz-border-radius-bottomright: 50px;
  border-bottom-right-radius: 50px;

  -webkit-box-shadow: 1px 1px 1px 1px #ccc;
  box-shadow: 1px 1px 1px 1px #ccc;
}

.logo-block a {
  display:block;
  width: 182px;
  height: 148px;
  background: url('/tpl/images/logo.jpg');
  margin-left: 130px;
  text-indent: -9999px;
}

.navbar-top {
  margin-top: 14px;
  margin-bottom: 0;
}

.navbar-top .navbar-inner {
  border: 0;
  border-radius: 0;
  box-shadow: none;
  background-image: none;
  background: none;
}

.navbar-top .nav>.active>a,
.navbar-top .nav>.active>a:hover,
.navbar-top .nav>.active>a:focus {
  text-decoration: underline;
  border: none;
  box-shadow: none;
  background: none;
}

.navbar-top .nav>li>a {
  padding-left: 50px;
  padding-right: 20px;
}

.nav-container {
  background: white;
}
.nav-block {
  height: 70px;
}

.breadcrumbs-block {
  height: 44px;
  background: #f50303;
  -webkit-box-shadow: 1px 1px 1px 1px #ccc;
  box-shadow: 1px 1px 1px 1px #ccc;
}

.phone-block {
  color: white;
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
}

.phone-block .phone {
  margin: 0 10px;
}

.call-block {
  margin-top: 64px;
}

.call-block.btn-group a {
  width: 50%;
  padding: 15px 0;
  background: none;
  border: none;
  font-size: 17px;
}

.call-block.btn-group>.btn+.btn {
  margin-left: 0;
}

.btn-group>.btn:first-child {
  margin-left: 0;
  -webkit-border-bottom-left-radius: 10px;
  border-bottom-left-radius: 10px;
  -webkit-border-top-left-radius: 10px;
  border-top-left-radius: 10px;
  -moz-border-radius-bottomleft: 10px;
  -moz-border-radius-topleft: 10px;
}

.call-block.btn-group>.btn:last-child,
.call-block.btn-group>.dropdown-toggle {
  -webkit-border-top-right-radius: 10px;
  border-top-right-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  border-bottom-right-radius: 10px;
  -moz-border-radius-topright: 10px;
  -moz-border-radius-bottomright: 10px;
}

.call-block a:hover {
  background: red;
  color: white;
  text-shadow: none;
}
header .banner-block {
  height: 115px;
  background: gray;
}
