@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700&subset=latin,cyrillic-ext,cyrillic);

* {
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 17px;
}

.breadcrumb {
  background: none;
  border-bottom: 1px solid gray;
  border-radius: 0;
}

.breadcrumb a {
  text-shadow: none;
}


